:root {
    --white: #fff;
    --red: #940f06 ;
    --deepPurple: #4f031f ;
  }

  .header h1 {
    font-size: 23px;
    margin-left: 100px;
    font-weight: 500;
    color: var(--white);
  }

  p {
      color: var(--white);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right, #940f06 , #4f031f);
  }
  