:root {
    --white: #fff;
    --red: #940f06 ;
    --deepPurple: #4f031f ;
  }

  .header h1 {
    font-size: 23px;
    margin-left: 100px;
    font-weight: 500;
    color: var(--white);
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #940f06 , #4f031f);
    z-index: 1;

  }
  
 