* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #D2D7D3;
  color: #243a6f;
}